body {
    font-family: Arial, sans-serif;
}

header, footer {
    text-align: center;
    padding: 10px;
}

#dashboard {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    padding: 20px;
}

button {
    padding: 10px;
    width: 80%;
    background-color: #0044cc;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #003399;
}

#create-folder-form {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f9f9f9;
}

#create-folder-form label {
    display: block;
    margin-bottom: 10px;
    color: #333;
}

#create-folder-form input {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

#create-folder-form button {
    padding: 10px 15px;
    background-color: #0056b3;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

#create-folder-form button:hover {
    background-color: #003d80;
}

/* Styles pour le bouton de retour */
button#back-button {
    padding: 10px 15px;
    margin-top: 20px;
    background-color: #f4f4f4;
    color: #333;
    border: 1px solid #ccc;
    border-radius: 5px;
    cursor: pointer;
}

button#back-button:hover {
    background-color: #e2e2e2;
}

/* signature.css */

#recap {
    /* Styles pour le récapitulatif */
    margin-bottom: 20px;
}

#signature-pad {
    /* Styles pour le champ de signature */
    border: 1px solid #ccc;
    background-color: #f9f9f9;
}

canvas {
    /* Styles pour le canvas de signature */
    width: 100%;
    height: 200px;
}

#save-signature {
    /* Styles pour le bouton de sauvegarde de la signature */
    margin-top: 20px;
}
