body, html {
    margin: 0;
    padding: 0;
    font-family: 'Comfortaa', sans-serif;
    background: #fff;
    color: #333;
    text-align: center;
}

.container {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    background: #ffffff;
    border-radius: 8px;
}

.app-header {
    color: #fff;
    padding: 20px;
    text-align: center;
    position: relative; /* Si ce n'est pas déjà le cas */
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.app-logo {
    height: 40px;
    width: auto;
}

/* INDEX.HTML */

#qrScanButton {
    background: transparent; /* Assurez-vous que le fond est transparent */
    border: none; /* Supprime la bordure par défaut des boutons */
    padding: 0; /* Ajustez le remplissage si nécessaire */
    cursor: pointer; /* Change le curseur en une main lors du survol */
    outline: none; /* Supprime le contour lors de la sélection du bouton */
}


.qr-scan-icon {
    width: 30px; /* Taille de l'icône */
    height: 30px; /* Taille de l'icône */
    cursor: pointer;
}

main h1 {
    margin: 20px 0;
    color: #242424;
    text-align: left;
}

main p {
    margin-bottom: 30px;
    text-align: left;
}

.options a {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 15px;
    margin-bottom: 10px;
    background: #F3F4F6;
    border: 2px solid #eeeeee;
    border-radius: 16px;
    font-family: 'Comfortaa', sans-serif;
    font-size: 16px;
    text-decoration: none;
    color: #333;
    height: 50px;
    justify-content: left;
}

.options a.active, .options a:hover {
    background: #3E52C1;
    color: #ffffff;
    text-decoration: none;
}

.options a img {
    margin-right: 20px;
    padding-left: 5px;
}

.back-to-dashboard {
    display: block;
    margin-top: 30px;
    color: #3E52C1;
    text-decoration: none;
}

footer {
    background: transparent;
    color: #242424;
    padding: 20px;
    text-align: center;
}

footer p {
    margin-top: 50px;
}

.start-button {
    width: 80%;
    margin-top: 10px;
    padding: 10px 20px;
    border-radius: 12px;
    border: none;
    background-color: #3E52C1;
    color: white;
    cursor: pointer;
    height: 55px;
    font-family: 'Comfortaa', sans-serif;
}

#cookieConsent {
    position: fixed; /* ou 'absolute' si vous voulez qu'il se déplace avec le scrolling */
    bottom: 0; /* Positionnez en bas de la page */
    left: 0; /* Aligné à gauche */
    width: 100%; /* Prend toute la largeur */
    background: #ffffff; /* Arrière-plan blanc ou autre couleur de fond */
    box-shadow: 0 -2px 4px rgba(0, 0, 0, 0.1); /* Ombre optionnelle pour la séparation visuelle */
    z-index: 1000; /* S'assure que le footer se trouve au-dessus des autres éléments */
    padding: 1rem;
    box-sizing: border-box; /* Inclut le padding dans la largeur */
    display: flex; /* Utiliser flexbox pour aligner le texte et le bouton */
    justify-content: space-between; /* Espacer le texte et le bouton */
    align-items: center; /* Centrer les éléments verticalement */
}

/* Nouveau style pour la sélection du type de déverrouillage et le container du schéma */
#Typeunlock, #pinCode, #patternContainer, .submit-button {
    display: block;
    width: 80%;
    margin: 10px auto;
    padding: 10px;
    font-size: 1em;
    border: 1px solid #ccc;
    border-radius: 5px;
}

#patternContainer {
    /* Ajoutez des styles pour votre container de schéma ici */
    height: 250px;
    width: 250px; /* Définissez la hauteur nécessaire pour votre schéma */
    background-color: #eee; /* Couleur de fond pour la zone de dessin du schéma */
}

#pinCode {
    width: 100%;
    padding: 10px 10px 10px 60px;
    background: #F9FAFB;
    border-radius: 12px;
    border: 2px solid #2B3987 !important;
    height: 25px;
    font-family: 'Comfortaa';
    font-size: 16px;
}


.button {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #f0f0f0; /* Gris clair pour le bouton inactif */
    padding: 10px 20px;
    border-radius: 25px;
    font-family: 'Comfortaa', sans-serif;
    font-size: 16px;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.button img.icon {
    margin-right: 10px;
}

.button img.checkmark {
    margin-left: 10px;
    opacity: 0; /* Icone droite invisible pour le bouton inactif */
}

.button.active {
    background-color: #3E52C1; /* Bleu pour le bouton actif */
    color: white;
}

.button.active img.checkmark {
    opacity: 1; /* Icone droite visible pour le bouton actif */
}

.button span {
    flex-grow: 1;
    text-align: left;
}

/* CREATE-REPAIR HTML */

h1, p {
    text-align: center;
}

form {
    display: flex;
    flex-direction: column;
}

input[type="text"], input[type="email"], input[type="tel"] {
    padding: 10px;
    border-radius: 20px;
    border: 1px solid #ccc;
}

button[type="submit"] {
    padding: 10px 20px;
    border-radius: 12px;
    border: none;
    background-color: #3E52C1;
    color: white;
    cursor: pointer;
    height: 55px;
    font-family: 'Comfortaa', sans-serif;
}


a {
    text-align: center;
    color: #007bff;
    text-decoration: none;
}

.input-container {
    position: relative;
    display: flex;
    align-items: center;
    margin-bottom: 15px;
}

.input-container input {
    width: 100%;
    padding: 10px 10px 10px 60px;
    background: #F9FAFB;
    border-radius: 12px;
    border: 2px solid #2B3987 !important;
    height: 25px;
    font-family: 'Comfortaa';
    font-size: 16px;
}

.input-icon {
    position: absolute;
    left: 20px;
    width: 25px;
    height: 25px;
}

.styled-select {
    width: 100%; /* ajustez selon la taille de l'icône pour éviter que le texte ne chevauche l'icône */
    padding: 10px 10px 10px 60px!important; /* Ajustement pour l'icône et un peu plus d'espace pour le texte */
    border-radius: 12px;
    border: 2px solid #2B3987 !important;
    height: 50px;
    font-family: 'Comfortaa';
    font-size: 16px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background: url('../images/svg/create-repair/dropdown.svg') no-repeat right 10px center, linear-gradient(to bottom, #ffffff, #ffffff); /* ajustez le chemin de l'icône de flèche */
    cursor: pointer;
}

input#estimatedPrice {
    background: url('../images/svg/create-repair/euro.svg') no-repeat right 10px center, linear-gradient(to bottom, #ffffff, #ffffff); /* ajustez le chemin de l'icône de flèche */
}



/* Popup */
/* Style pour le conteneur de la popup, incluant le fond et le z-index */
.popup-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Fond semi-transparent */
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000; /* Assurez-vous que ce z-index est supérieur à celui de tout autre élément */
}

/* Styles pour la popup elle-même */
.popup {
    background-color: #fff; /* Couleur de fond de la popup */
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 15px rgba(0, 0, 0, 0.2);
    width: 80%;
    max-width: 400px;
    position: relative; /* Pour positionnement absolu d'éléments à l'intérieur */
}

/* Bouton Fermer avec le style spécifié */
.popup button {
    padding: 10px 20px;
    border-radius: 12px;
    border: none;
    background-color: #3E52C1; /* Couleur de fond */
    color: white; /* Couleur du texte */
    cursor: pointer;
    height: 55px; /* Hauteur spécifiée */
    font-family: 'Comfortaa', sans-serif; /* Police spécifiée */
    font-size: 16px; /* Taille de police pour correspondre à votre style */
    width: auto; /* S'ajuste au contenu du bouton */
    margin-top: 20px; /* Espace au-dessus du bouton */
}

.popup h2, .popup p {
    margin: 0 0 20px; /* Ajoutez de l'espace sous les titres et paragraphes */
}

.popup-icon {
    width: 40px;
    height: 40px;
    vertical-align: middle;
}

.popup ul {
    list-style: inside; /* Ou 'disc' si vous voulez des puces rondes à l'extérieur */
    padding-left: 20px; /* Ajuster selon besoin */
    margin-top: 10px; /* Espace au-dessus de la liste */
}

.popup li {
    margin-bottom: 5px; /* Espace entre les éléments de la liste */
}

.popup a {
    color: #007bff; /* Ou toute autre couleur selon votre palette de design */
    text-decoration: underline;
}

.popup a:hover {
    text-decoration: none;
}

/* Acceptation de la réparation */
/* Assurez-vous que ce CSS est bien inclus dans le fichier style.css référencé dans votre page HTML */
.summary {
    padding: 20px;
    margin-bottom: 20px;
}

.summary p {
    font-family: 'Comfortaa', cursive;
    font-size: 16px;
    color: #333;
    background-color: #F9FAFB;
    margin: 10px 0;
    padding: 0px;
    text-align: center;
}

.summary #disclaimer {
    margin-top: 20px;
    background-color: #ffffff;
    padding: 15px;
    border-radius: 8px;
    font-size: 14px;
}

/* Signature */
.signature-container {
    text-align: center;
    margin-top: 20px;
}

.signature-pad {
    border: 2px solid #2B3987;
    border-radius: 5px;
    position: relative; /* Assure que les éléments enfants positionnés de manière absolue se basent sur ce conteneur */
    background-color: #F9FAFB;
    overflow: hidden; /* Empêche le bouton de déborder du conteneur */
}

.signature-pad canvas {
    max-width: 100%; /* Assure que le canvas ne déborde pas de son conteneur */
    border-bottom-left-radius: 4px; /* Adoucit le coin inférieur gauche */
    border-bottom-right-radius: 4px; /* Adoucit le coin inférieur droit */
    cursor: crosshair;
    background-color: #F9FAFB;
}

#clear {
    position: absolute; /* Positionne le bouton de manière absolue par rapport à son conteneur parent */
    top: 5px; /* Petite marge du haut */
    right: 5px; /* Aligné à droite avec une petite marge */
    background-color: #f44336; /* Rouge */
    color: white;
    border: none;
    padding: 5px 10px; /* Ajustement du padding */
    border-radius: 5px;
    cursor: pointer;
    font-size: 0.8em; /* Ajustez la taille du texte selon vos besoins */
}

#clear:hover {
    background-color: #d32f2f; /* Rouge plus foncé */
}

/* styles.css pour le SPLASH screen */

.splash-screen {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    z-index: 9999;
    animation: fadeIn 0.5s ease-out forwards;
}

#logo {
    width: 120px;
    animation: popIn 1s ease-out forwards, pulse 2s infinite;
}

.loading-dot {
    color: #000;
    font-size: 20px;
    animation: dots 1.5s infinite;
}

@keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
}

@keyframes popIn {
    0% { transform: scale(0); }
    60% { transform: scale(1.1); }
    100% { transform: scale(1); }
}

@keyframes pulse {
    0% { transform: scale(1); }
    50% { transform: scale(1.05); }
    100% { transform: scale(1); }
}

@keyframes dots {
    0%, 20%, 100% { transform: translateX(0); }
    40% { transform: translateX(10px); }
    60% { transform: translateX(-10px); }
}

.hidden {
    display: none;
}